#signup-header {
    display: block;
    font-family: 'Edu QLD Beginner';
    font-size: 30px;
    color: rgb(255, 0, 174);
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
  }


  #signup-logo {
    display: inline; 
    position:fixed;
    margin: 15px; 
    margin-top: 5px;
    height: 60px;
    float: left;
    width: auto; 
  }

  .signup-form {
    display: block;
    position: absolute;
    text-align: start;
    left: 500px;
    color:white;
  }

  .signup-button {
    display: block;
    position:relative;
    width: 100px;
    height: 40px;
    top: 250px;
    background-color: rgb(255, 0, 174);
    color: white;
    font-size: 15px;
    margin: 0 auto;
  }

  .home-button {
    display:block;
    font-family: 'Edu QLD Beginner';
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    color:white;
    position: absolute;
    left:560px;
    top: 470px;
  }