
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://i.pinimg.com/originals/d3/ae/3e/d3ae3e84bb6e1c79bda04463f0dff387.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

  
#header {
    font-family: 'Edu QLD Beginner';
    display: block;
    margin-left: 240px;
    font-size: 200%;
    color:rgb(255, 0, 174);
    font-weight: bolder;
  }

  #featured {
    font-family: 'Edu QLD Beginner';
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-left: 130px;
    font-size: 170%;
  }

.about {
  display: inline-block;
  color: white;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 110%;
}

#logo {
  display: inline; 
  position:fixed;
  margin: 15px; 
  margin-top: 5px;
  height: 60px;
  float: left;
  width: auto; 
}

  
  #main-img {
    display: inline;
    width: 210%;
    margin-left: 230px;
    margin-right: 5px;
    margin-top: 10px;
  }

  #community-image {
    display: inline;
    width: 50%;
    margin-left: 230px;
    margin-top: 20px;
  }

  #updates-image {
    display: inline;
    width: 18%;
    margin-left: 30px;
    margin-top: 20px;
  }

  #merch-image {
    display: inline;
    width: 18%;
    margin-left: 20px;
    margin-top: 20px;
  }

  #miku-chibi {
      display: inline;
      width: 25%;
      margin-left: 15px;
      margin-top: 50px;

  }

  .community-join {
    margin-left: 250px;
    margin-top: 5px;
    color: white;
    font-family: 'Edu QLD Beginner';
    font-size: 20px;
    font-weight:bold;
    text-decoration: underline;
  }

  .updates {
    margin-left: 95px;
    margin-top: 5px;
    color: white;
    font-family: 'Edu QLD Beginner';
    font-size: 20px;
    font-weight:bold;
    text-decoration: underline;
  }

  .merch-store {
    margin-left: 110px;
    margin-top: 5px;
    color: white;
    font-family: 'Edu QLD Beginner';
    font-size: 20px;
    font-weight:bold;
    text-decoration: underline;
  }

  .chibi-text {
    margin-left: 80px;
    margin-top: 0px;
    color: white;
    font-family: 'Edu QLD Beginner';
    font-size: 20px;
    font-weight:bold;
  }
  
.img-button {
  background-color: none;
}

  .button {
    background-color: rgb(255, 0, 174);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    width: 90%;
    cursor: pointer;
  }

  .search-container {
    float: none;
  }

  .search-container input[type=text] {
    background-color: rgb(37, 34, 43);
    color: white;
    padding: 5px;
    width: 45%;
    margin-top: 10px;
    margin-left: 255px;
    margin-bottom: 5px;
    font-size: 17px;
    border: 1px solid #ccc;
  }

  .search-container button {
    float: none;
    padding: 7.5px;
    margin-top: 5px;
    width: 7%;
    background: rgb(255, 0, 174);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

  }
  
  .container {
    display: flex;
    justify-content: flex-start;
  }

  .box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    }

  .align {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .split {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .dropbtn {
    background-color: rgb(120, 116, 116);
    display: inline;
    padding: 0px;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
  }

  .noti-dropbtn {
    display: inline;
    padding: 0px;
    border: none;
    height: 60px;
    width: 60px;
    margin-right: 5px;
    margin-top: 0px;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #a69696;
  }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline;
  }

  
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }

  .dropdown-content-noti {
    display: none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }

  .dropdown-content-noti a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  
  @media screen and (max-width: 375px) {
    .container {
      flex-direction: column;
    }

    .box {
      flex-direction: column;
    }

    .search-container {
      float: none;
    }
    .search-container input[type=text], .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .search-container input[type=text] {
      border: 1px solid #ccc;  
    }
    .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
  }